<!-- <div class="container mt-5">
    <form>
      <div class="row mb-3">
        <div class="form-group col-12">
            <label for="propertyType" class="form-label">Select type</label>
            <select class="form-select" id="propertyType" aria-label="Property Type">
                <option selected>Select type</option>
                <option value="hotel">Hotel</option>
                <option value="villa">Villa</option>
                <option value="homeStay">Home Stay</option>
                <option value="farmhouse">Farmhouse</option>
                <option value="houseBoat">House boat</option>
            </select>
        </div>
        
        <div class="col-md-6">
          <label for="postal" class="form-label">Postal number *</label>
          <input type="text" class="form-control" id="postal" placeholder="Enter postal number">
        </div>
      </div>
  
      <div class="mb-3">
        <label for="street" class="form-label">Street *</label>
        <input type="text" class="form-control" id="street" placeholder="Enter street">
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="latitude" class="form-label">Latitude *</label>
          <input type="text" class="form-control" id="latitude" placeholder="Enter latitude">
        </div>
        <div class="col-md-6">
          <label for="longitude" class="form-label">Longitude *</label>
          <input type="text" class="form-control" id="longitude" placeholder="Enter longitude">
        </div>
      </div>
  
      <div class="mb-3">
       
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.9234!2d-74.0094!3d40.7414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259af18!2sGoogle%20NYC!5e0!3m2!1sen!2sus!4v1614884214197!5m2!1sen!2sus" 
          width="100%" 
          height="300" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy">
        </iframe>
      </div>
  
      <h4>Upload Images</h4>
  
      <div class="mb-3">
        <label for="thumbnail" class="form-label">Upload thumbnail image *</label>
        <input class="form-control" type="file" id="thumbnail" accept=".jpg,.jpeg,.png">
      </div>
  
      <div class="mb-3">
        <label for="gallery" class="form-label">Upload image gallery *</label>
        <input class="form-control" type="file" id="gallery" multiple accept=".jpg,.jpeg,.png">
      </div>
  
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="goToNextForm()">Next</button>
      </div>
    </form>
  </div> -->


<!-- <app-form1 *ngIf="currentForm === 1"></app-form1>
<app-form2 *ngIf="currentForm === 2"></app-form2>
<app-form3 *ngIf="currentForm === 3"></app-form3> -->