<p>add-tour works!</p>
<h2 class="text-center">Add Tour</h2>

<div class="container my-5 col-7">
    <form [formGroup]="AddTourfileForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="card p-3">
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="TtileTour">Ttile Tour</label>
                            <select id="TtileTour" formControlName="TtileTour" class="form-control">
                                <option value="1">River cruise</option>
                                <option value="2">road trip</option>
                            </select>
                        </div>

                        <div class="form-group">

                            <label for="date">Datetime</label>
                            <input id="date" type="date" formControlName="date" class="form-control" require>
                        </div>

                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" type="number" formControlName="price" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="Durations">Durations</label>
                            <input id="Durations" type="number" formControlName="Durations" class="form-control"
                                required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="Description">Description</label>
                            <textarea class="form-control" id="Description" rows="5"
                                placeholder="Enter your Description here"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary col-6 mt-4 m-auto">Save Changes</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>